HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.idea/

# Arquivos de ambiente
.env
.env.*
!.env.example

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Ignorar uploads exceto as imagens iniciais
uploads/*
!uploads/capas/
uploads/capas/*
!uploads/capas/*.jpg
!uploads/capas/*.png
!uploads/capas/*.gif
!uploads/capas/*.webp
